/* ~ 3.8 */

.blog {
  background: rgb(247, 247, 247);
}

.blog-content {
  overflow: hidden;
}

.blog-item {
  background: var(--white-color);
}

.blog-list li {
  display: inline-block;
  font-size: 14px;
  padding: 0 7px;
}

.blog-list li i {
  color: #6195ff;
  padding: 10px 7px;
}

.blog-item h3 {
  padding: 20px 15px;
  font-size: 25px;
}

.blog-desc {
  color: hsl(214, 10%, 57%);
  padding: 0 15px;
}

.blog-btn {
  background: none;
  border: 0;
  color: var(--maincolor);
  padding: 20px 15px;
  font-size: 18px;
  cursor: pointer;
}
