/* ~ 3.9 */
.contact-content {
  overflow: hidden;
  text-align: center;
}

.contact-item i {
  color: var(--maincolor);
  font-size: 38px;
}

.contact-item h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-top: 0px;
  font-size: 24px;
}
