/*~ footer */
.footer {
  background: rgb(28, 29, 33);
  text-align: center;
  padding: 85px 0;
}

.footer-links {
  list-style: none;
  margin-bottom: 40px;
}

.footer-links li {
  display: inline-block;
}

.footer-links li a {
  display: block;
  background: var(--maincolor);
  margin: 0 5px;
  color: var(--white-color);
  border-radius: 7%;
}

.footer p {
  color: #999;
}

.footer p span {
  color: var(--maincolor);
}

.footer-links a:hover {
  opacity: 0.5;
}
