/* ~ 3.6 */
.numbers {
  background-image: url(../images/background/background2.webp);
  background-size: cover;
  background-attachment: fixed;
}

.numbers-items {
  overflow: hidden;
  padding: 100px 0;
}

.numbers-item {
  text-align: center;
}

.icon {
  color: var(--maincolor);
  font-size: 36px;
}

.numbers-title {
  font-size: 36px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: var(--white-color);
}

.numbers-text {
  font-family: var(--varelaround);
  font-size: 16px;
  color: rgb(255, 255, 255);
}
